<div class="cpanel">
    <div class="row menu">
            <h3>Menu</h3>
            <ul class="main-menu">
                <li><a href="/student">Student</a></li>
                <li><a href="/teacher">Teacher</a> </li>
                <li><a href="/subject">Subject</a>
                <li><a href="/department">Department</a></li>
                <li><a href="/designation">Designation</a></li>
                <li><a href="/class">Class</a></li>
            </ul>
    </div>
</div>