<div class="cpanel">
    <div class="row">
        <div class="col span-1-of-4" id="menu">
            <h3>Menu</h3>
            <ul class="main-menu">
                <li class="parent-li"><a href="javascript:subject.getForm()">Subject</a>
                    <ul class="sub-list">
                        <li><a href="javascript:subject.listAll()">List</a></li>
                        <li><a href="javascript:subject.getForm()">New</a></li>
                        <li><a href="javascript:subject.search()">search</a></li>
                    </ul>


                </li>

                <li class="parent-li"><a href="javascript:teacher.getForm()">Teacher</a>
                    <ul class="sub-list">
                        <li><a href="javascript:teacher.listAll()">List</a></li>
                        <li><a href="javascript:teacher.getForm()">New</a></li>
                        <li><a href="javascript:teacher.search()">search</a></li>
                    </ul>
                </li>
                <li><a href="javascript:department.getForm()">Department</a></li>
                <li><a href="javascript:designation.getForm()">Designation</a></li>
                <li><a href="javascript:student.getForm()">Student</a></li>
                <li><a href="javascript:classs.getForm()">Class</a></li>
            </ul>

        </div>
        <div class="col span-3-of-4">
            <div id="result">
                Result goes here
            </div>
        </div>
    </div>
</div>