<nav class="clearfix">
      <ul class="main-nav">
          <li><a href="/">Home</a></li>
          {{#if user}}
             {{#ifCond user.rank 'admin'}}             
              <li><a href="/admin/cp">CP</a></li>
              {{else}}
              <li><a href="/user/dashboard">Dashboard</a></li>
              <li><a href="/user/profile">Profile</a></li>
             {{/ifCond}}
              <li><a href="/user/logout">Logout</a></li>
          {{else}}
              <li><a href="/user/login">Login</a></li>
          {{/if}}
      </ul>
</nav>