<!DOCTYPE html>
<html lang="en">
    {{>header}}
    
    <body>
        {{>nav}}
           {{#if success_msg}}
            <div id="modal">
                <script>window.addEventListener('click', (e)=>{if(e.target == document.getElementById('modal')) modal.style.display = 'none';});</script>
                <div class="modal-content msg success_msg">
                    <p>{{ success_msg }}</p>
                </div>
            </div>
        {{/if}}
        {{#if error_msg}}
            <div id="modal">
                <script>window.addEventListener('click', (e)=>{if(e.target == document.getElementById('modal')) modal.style.display = 'none';});</script>
                <div class="modal-content msg error_msg">
                    <p>{{ error_msg }}</p>
                </div>
            </div>
        {{/if}}
                                
        {{{ body }}}                
        {{>footer}}
    </body>
</html>