<!DOCTYPE html>
<html lang="en">
    {{>header}}
    
    <body>
        {{>nav}}
           {{#if success_msg}}
            <div id="modal">
                <div class="modal-content msg success_msg">
                    <p>{{ success_msg }}</p>
                </div>
            </div>
        {{/if}}
        {{#if error_msg}}
            <div id="modal">
                <div class="modal-content msg error_msg">
                    <p>{{ error_msg }}</p>
                </div>
            </div>
        {{/if}}
                                
        {{{ body }}}                
        {{>footer}}
        {{#foo}}
        {{/foo}}
    </body>
</html>