<h2>Teachers</h2>
<div class="container">
    <div class="row">
        <div class="col span-5-of-6 search-bar">
            <input type="search" name="" placeholder="search" id="">
        </div>
        <div class="col span-1-of-6 search-bar">
            <a href="javascript:alert('Add new Teacher')"><button class="btn btn-green"><b><i class="icon ion-md-add"></i></b></button></a>
        </div>
    </div>    
    {{#each teachers}}
        <div class="card">
            {{#with this}}
                <a href="/teacher/{{_id}}">{{name}}</a>
            {{/with}}
        </div>
    {{/each}}
 </div>