<header id="home-header" class="clearfix">
    {{> nav}}

    <div class="clearfix hero-text-box">
        <h1>Moodle</h1>
        <p class="hero-desc">International Institute of Information Technology.</p>
        <a class="btn btn-full" href="#notice-board">Notice board</a>
        <a class="btn btn-ghost" href="#hightlights">Hightlights</a>
    </div>
</header>
<section class="section-desc">
    <h2>About Moodle</h2>
    <p class="long-copy">
        Welcome to International Institute of Information Technology, Hinjawadi, Pune. <br> This site is used for academic purpose only. All existing students of International Institute of Information Technology can access their course information.
    </p>
</section>
