
<h2>Students</h2>
 <div class="container">
<!--   Search bar     -->
    <div class="row">
        <div class="col span-5-of-6 search-bar">
            <input type="search" name="" placeholder="search" id="">
        </div>
        <div class="col span-1-of-6 search-bar">
            <a href="javascript:alert('Add new Student')"><button class="btn btn-green"><b><i class="icon ion-md-add"></i></b></button></a>
        </div>
    </div>
    
<!--    Card view of subjects     -->
{{#each students}}
    <div class="row card">
        {{#with this}}
            <a href="/student/{{value}}">{{name}}</a>
        {{/with}}     
    </div>
{{/each}}
 </div>