<div class="form-container">
    <form action="javascript:classs.create()">
        <h3>Create class</h3>
        <div class="input-field">
            <label for="name">Name :</label>
            <input type="text" name="name" id="name">
        </div>
        <div class="input-field">
            <label for="department">Department</label>
            <select onchange="javascript:classs.departmentSelected()" name="department" id="department">
                {{#each departments}}
                <option value="{{value}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="input-field">
            <label for="teacher">Teacher : </label>
            <select name="teacher" id="teacher">
                
            </select>
        </div>
        <div class="input-field">
            <button type="submit" name="class-submit">Submit</button>
        </div>
    </form>
</div>
