<div class="form-container">
        <form action="javascript:department.create()" method="post">
            <h3>Create Department</h3>
            <div class="input-field">
                <label for="name">Name :</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="input-field">
                <label for="faculty">Faculty : </label>
                <select name="faculty" id="faculty" >
                    <option value="shhb">John Doe</option>
                    <option value="kjjk">Jane Doe</option>
                </select>
            </div>
            <div class="input-field">
                <label for="labs">Laboratories : </label>
                <select name="labs" id="labs">
                    <option value="foo">Lab 1</option>
                    <option value="bar">lab 2</option>
                </select>
            </div>
            <div class="input-field">
                <label for="offices">Offices : </label>
                <select name="offices" id="offices">
                    <option value="foo">Office 1</option>
                    <option value="bar">Office 2</option>
                </select>
            </div>
            <div class="input-field">
                <label for="head">Head : </label>
                <select name="head" id="head">
                    <option value="foo">John Doe</option>
                    <option value="bar">Jane Doe</option>
                </select>
            </div>
            <div class="input-field">
                <button type="submit" name="department-submit"> Submit </button>
            </div>
            
        </form>
    </div>
    