    
    <div class="form-container">
        <form action="javascript:designation.create()">
            <h3>Create Designation</h3>
            <div class="input-field">
                <label for="name">Name :</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="input-field">
                <label for="permissions">Permissions : </label>
                <select name="permissions" id="permissions" multiple>
                    <option value="AUTH">Authentication</option>
                    <option value="VIEW_STUDENT_PROFILE">View Student Profile</option>
                    <option value="VIEW_TEACHER_PROFILE">View Teacher Profile</option>
                    <option value="EDIT_STUDENT_PROFILE">Edit Student Profile</option>
                    <option value="EDIT_TEACHER_PROFILE">Edit Teacher Profile</option>
                    <option value="ADD_NEW_SUBJECT">Add new Subject</option>
                    <option value="ADD_NEW_DESIGNATION">Add new Designstion</option>
                    <option value="ADD_NEW_LAB">Add new Lab</option>
                    <option value="ADD_NEW_OFFICE">add new Office</option>
                    <option value="ADD_NEW_LECTURE">Add new Lecture</option>
                    <option value="ADD_NEW_DEPARTMENT">Add new Department</option>
                    <option value="VIEW_FOREIGN_ATTENDANCE">View Foreign Attendance</option>
                    <option value="EDIT_FOREIGN_ATTENDANCE">Edit Foreign Attendance</option>
                    <option value="EDIT_TIMETABLE">Edit Timetable</option>
                    <option value="ADD_NEW_TIMETABLE">Add new Timetable</option>
                    <option value="SWAP_FOREIGN_LECTURE">Swap foreign lecture</option>
                    <option value="SWAP_SELF_LECTURE">Swap self lecture</option>
                    <option value="ADD_NEW_USER">Add new User</option>
                    <option value="ADD_NEW_TEACHER">Add new Teacher</option>
                    <option value="ADD_NEW_ADMIN">Add new Admin</option>
                    <option value="MODIFY_PERMISSIONS">Modify permissions</option>
                </select>
            </div>
            <div class="input-field">
                <button type="submit" name="designation-submit">Submit</button>
            </div>
        </form>
    </div>