<div class="form-container">
        <form method="post" action="javascript:subject.create()">
            <h3>create subject</h3>
            <div class="input-field">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" required>
            </div>
            
            <div class="input-field">
                <label for="department">Department:</label><br>
                <select name="department" id="department"></select>
            </div>    
            <div class="input-field">
                <label for="teacher">Teacher</label>
                <select name="teacher" id="teacher"></select>
            </div>
            <div class="input-field">
                <label for="university_code">University code</label>
                <input type="number" name="university_code" id="university_code">
            </div>
            <div class="input-field">
                <button type="submit" name="login-submit">Submit</button><br>
            </div>
        </form>
    </div>